<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>Showcase DEMO</title>
    <script data-require="angular.js@1.3.13" data-semver="1.3.13" src="https://code.angularjs.org/1.3.13/angular.js"></script>
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
    <script src="app.js"></script>
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    
    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css"
    rel="stylesheet"> -->
    <link href="index.css" rel="stylesheet">
    
      
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
  <script src="script.js"></script>
  </head>
<body ng-app="groceryToDo" ng-controller="main">
    <div class="container">
      
    </div>
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Grocery List</h1>
        </div>
            <ul ng-repeat="gcery in gcerys">
                <li>
                  <span ng-hide="editing" ng-click="editing = true">{{gcery.name}} | ${{gcery.number}}</span>
                  <form ng-show="editing" ng-submit="editing = false">
                    <label>Item:</label>
                    <input type="text" ng-model="gcery.name" placeholder="Item" ng-required/>
                    <label>Price:</label>
                    <input type="text" ng-model="gcery.number" placeholder="Price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required/>
                    <br/>
                    <button class="btn" type="submit">Save</button>
                    <button class="btn" type="button" ng-click="remove(gcery)">Delete</button>
                  </form>
                </li>
                
            </ul>

           <form ng-show="visible" ng-submit="newGrocery()">
            <label>Item:</label>
            <input type="text" ng-model="gceryname" placeholder="Iten" ng-required/>
            <label>Price:</label>
            <input type="number" ng-model="gcerynumber" placeholder="Price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required/>
            <br/>
            <button class="btn" type="submit">Save</button>
            <br/>
            <p id="helptxt">Click on existing items to edit or delete</p>
          </form>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <a class="btn" ng-click="visible = true"><i class="icon-plus"></i>Add</a>
      </div>
    </div>
    </body>