<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Showcase DEMO</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
    <script src="app.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="index.css" rel="stylesheet">
  </head>
<body ng-app="groceryToDo" ng-controller="main">
    <div class="container">
      
    </div>
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Grocery List</h1>
        </div>
            <ul ng-repeat="gcery in gcerys">
                <li>
                  <span ng-hide="editing" ng-click="editing = true">{{gcery.name}} | ${{gcery.number}}</span>
                  <form ng-show="editing" ng-submit="editing = false">
                    <label>Item:</label>
                    <input type="text" ng-model="gcery.name" placeholder="Name" ng-required/>
                    <label>Price:</label>
                    <input type="text" ng-model="gcery.number" placeholder="Price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required/>
                    <br/>
                    <button class="btn" type="submit">Save</button>
                    <button class="btn" type="button" ng-click="remove(gcery)">Delete</button>
                  </form>
                </li>
                
            </ul>

           <form ng-show="visible" ng-submit="newGrocery()">
            <label>Item:</label>
            <input type="text" ng-model="gceryname" placeholder="Name" ng-required/>
            <label>Price:</label>
            <input type="number" ng-model="gcerynumber" placeholder="Price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required/>
            <br/>
            <button class="btn" type="submit">Save</button>
            <br/>
            <p id="helptxt">Click on existing items to edit or delete</p>
          </form>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <a class="btn" ng-click="visible = true"><i class="icon-plus"></i>Add</a>
      </div>
    </div>
    </body>