<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Showcase DEMO</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
    <script src="app.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css"
    rel="stylesheet">
  </head>
<body ng-app="groceryToDo" ng-controller="main">
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Grocery List</h1>
        </div>
            <ul ng-repeat="gcery in gcerys">
                <li>
                  <span ng-hide="editing" ng-click="editing = true">{{gcery.name}} | ${{gcery.number}}</span>
                  <form ng-show="editing" ng-submit="editing = false">
                    <label>Name:</label>
                    <input type="text" ng-model="gcery.name" placeholder="Name" ng-required/>
                    <label>Date:</label>
                    <input type="text" ng-model="gcery.number" placeholder="Price" ng-required/>
                    <br/>
                    <button class="btn" type="submit">Save</button>
                    <button class="btn" type="button" ng-click="remove(gcery)">Delete</button>
                  </form>
                </li>
                
            </ul>

           <form ng-show="visible" ng-submit="newGrocery()">
            <label>Name:</label>
            <input type="text" ng-model="gceryname" placeholder="Name" ng-required/>
            <label>Date:</label>
            <input type="number" ng-model="gcerynumber" placeholder="Price" ng-required/>
            <br/>
            <button class="btn" type="submit">Save</button>
          </form>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <a class="btn" ng-click="visible = true"><i class="icon-plus"></i>Add</a>
      </div>
    </div>
    </body>